.navBar{
    background: rgb(228, 124, 124);
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navTitle{
    text-decoration: underline;
}
.here{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vh;
}